
.nav-menu {
    background-color: black;
    height: 100vh;
    padding: 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    /* left: -100px; */
    width: 50px;
    transition: 600ms;
    transition-timing-function: ease-in;
    z-index: 5;
}

.nav-menu.active {
    width: 60px;
    transition: 350ms;
}

.nav-text {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    /* padding: 15px; */
}

.nav-menu-items {
    margin: 0;
    padding: 0;
}

.nav-text a {
    /* margin: auto; */
    text-decoration: none;
    color: #f5f5f5;
    font-size: 30px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
}

span {
    /* margin-left: 15px; */
}

.invisible {
    /* left: -100px; */
    opacity: 1;
    width: 0;
}

.not-invisible {
    /* opacity: 0; */
    width: 0;
    /* left: -100px; */
    transition: 600ms;
    transition-timing-function: ease-in;
}

.left {
    position: fixed;
    /* width: 100px; */
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
}

.right {
    position: fixed;
    z-index: -1;
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
    font-size: 30px;
    top: 0;
    left: 50px;
    height: 100vh;
}
.nav-menu-items_right {
    margin: 0;
    padding: 0;
}

 .nav-menu-items_right li a {
    padding: 0;
    margin: 0;
    height: 60px;
    font-size: 15px;
    padding-left: 10px;
}

.nav-text_right {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}  

.nav-text_right a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 30px;
    display: flex;
    align-items: center;
}




.right_active {
    left: 50px;
    transition: 800ms;
    transition-timing-function: ease;
}

.right_inactive {
    left: -100%;
    transition: 800ms;
    transition-timing-function: linear;
}
