.wrapper {
    background-color: black;
    margin: auto;
    text-align: center;
}

.section {
    /* height: 100vh; */
    width: 600px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 100px;
}

p {
    padding: 30px;
}

.title {
    font-size: 45px;
    text-align: center;
}

.description {
    font-size: 25px;
    padding-top: 0;
    padding-bottom: 0;
}

.im {
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .section {
        width: 95%;
    }
}








