.footer {
    display: grid;
    column-gap: 10px;
    /* width: 100%; */
    /* height: 50px; */
    padding: 50px;
    background-color: rgb(3, 3, 3);
    grid-template-columns: auto auto auto auto;
}

.title {
    color: white;
    font-size: 14px;
    text-align: left;
    padding-bottom: 7px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.sect {
    margin-bottom: 20px;
}


@media only screen and (max-width: 600px) {
    .footer {
        /* background-color: blue; */
        grid-template-columns: 300px
    }
}